@use "./abstracts/mixins" as mix;

main{
    height: 100%;
    @include mix.displayFlex(column nowrap, center, flex-start);
    row-gap: 2em;
    text-align: center;
    padding: 7%;
}

.main--auth{
    justify-content: center;
}