* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  min-height: 100vh;
}
body, body * {
  font-family: "Roboto Mono", monospace;
  font-size: 0.6rem;
}

h1 {
  color: #323232;
  font-family: "Calistoga", cursive;
  font-size: 2.5rem;
  font-weight: 400;
}

h2 {
  color: white;
  font-family: "Calistoga", cursive;
  font-size: 1rem;
  font-weight: 400;
  text-transform: capitalize;
}

small {
  color: white;
  font-family: "Roboto Mono", monospace;
  font-size: 0.6rem;
  font-weight: 400;
  margin-bottom: 1em;
}

main {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  row-gap: 2em;
  text-align: center;
  padding: 7%;
}

.main--auth {
  justify-content: center;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  row-gap: 0.8em;
  width: min(271px, 70%);
  min-width: 200px;
}
.form .form__input, .form .catalog__search {
  width: 100%;
  padding: 0.5em 1em;
  border-style: solid;
  border-radius: 0.5em;
  border-color: #929292;
  border-width: 1px;
}
.form .form__input:focus, .form .catalog__search:focus {
  outline: 2px solid #FFC42C;
}

.btn {
  background: #FFC42C;
  border: none;
  color: white;
  border-radius: 1em;
  padding: 0.2em;
  cursor: pointer;
  font-family: "Calistoga", cursive;
  font-size: 1rem;
  font-weight: 400;
}

.btn--long {
  width: 100%;
}

.btn--margin-top {
  margin-top: 0.5em;
}

.header {
  width: 100%;
  background-color: #323232;
  background-image: url(/images/header.webp?a44df13e3939d6ff6744daa6e906b5f9);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 30vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-end;
}

.card {
  width: 250px;
  height: 150px;
  padding: 0.8em;
  border-radius: 1em;
  background: #323232;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 0.3em;
  text-align: start;
  list-style-type: none;
  color: white;
}

.card--centered {
  align-items: center;
  justify-content: center;
}

.card--bordered {
  background: none;
  border: 1px solid #323232;
  padding-block: 0.7em;
  border-radius: 0.6em;
}

.card--captioned {
  width: 30%;
  min-width: 100px;
  border-radius: 1em;
  overflow: hidden;
}
.card__caption {
  background: #323232;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  row-gap: 0.5em;
  padding: 1em;
}

.card__img-container {
  max-width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  background-position: center;
  background-size: contain;
}

.catalog__grid {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  row-gap: 1em;
  -moz-column-gap: 0.5em;
       column-gap: 0.5em;
}
