// Variables

//Colors
$clr-accent: #FFC42C;
$clr-primary--500: #323232;
$clr-primary--300: white;
$clr-neutral: #929292;

//font stacks
$font-stacks: (
    primary : ('Calistoga', cursive),
    neutral : ('Roboto Mono', monospace),
);

$font-weights: (
    primary : 400,
    neutral--700 : 700,
    neutral--400 : 400,
);

$font-sizes: (
    primary--500 : 2.5rem,
    primary--300 : 1rem,
    neutral--200 : 0.9375rem,
    neutral--100 : 0.6rem,
)